*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:rgb(249, 249, 249);
}
.NavBar{
  position: fixed;
  top: 0;
  z-index: 2;
  background-color: white;
  width: 100%;
  border: 1px solid rgb(209, 207, 207);
}
.container{
  padding: 16px 0 14px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
.Logo{
  padding: 0 16px;
  width: 150px;
  cursor: pointer;
}
.Search{
  border: 1px solid rgb(209, 207, 207);
  border-radius: 3px;
  min-width: 225px;
  background-color: rgb(246, 245, 245);
  height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
}
.icon{
  width: 30px;
  margin-right: 10px;
}
.icons{
  display: flex;
  flex-direction: row;
  max-width: 40px;
  height: auto;
  margin: 5px 10px;
}
.feed{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50% ;
}
.Post{
  margin-top: 10px;
  background-color:white;
  height: auto;
  border: 1px solid rgb(222, 221, 221);
  border-radius: 5px;
}
.Post > img {
  max-width: 600px;
  height: auto;
}
.User{
  display: flex;
}
.User > img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding: 10px;
}
.User > h4{
  display: flex ;
  flex-direction: row;
  padding: 14px 2px;
}
.stories{
  display: flex;
}
